<div class="w-full h-fit">
        <div class="absolute w-full top-auto bg-cover bg-[url('/public/background.gif')] h-full brightness-40"></div>
        <div class="relative z-10 h-full mx-24 text-white text-center font-primary">
            <h1 class="text-6xl p-16">We play a lot of games</h1>
            <div class="flex gap-6 justify-center">
                <img src="/games/image 1.webp">
                <img src="/games/image 2.webp">
                <img src="/games/image 3.webp">
                <img src="/games/image 4.webp">
            </div>
        </div>
    </div>