<div class="w-full h-fit ">
        <div class="absolute w-full top-auto bg-cover bg-[url('/public/background.gif')] h-full brightness-40"></div>

        <div class="relative z-10 h-full pt-32 mx-32 text-white text-center font-primary">
            <div class="grid grid-cols-2 gap-6">
                <div class="flex flex-col gap-2">
                    <div class="flex justify-between items-center">
                        <div class="text-left">
                            <h3 class="text-primary text-4xl">recent</h3>
                            <h3 class="text-6xl uppercase">Matches</h3>
                        </div>
                        <div class="inline-flex rounded-md shadow-sm h-fit" role="group">
                            <button type="button" class="px-4 py-2 text-2xl font-medium rounded-s-xl bg-primary text-white">
                                CS2
                            </button>
                            <button type="button" class="px-4 py-2 text-2xl font-medium  bg-black text-primary">
                                PUBG
                            </button>
                            <button type="button" class="px-4 py-2 text-2xl font-medium  bg-black text-primary">
                                LOL
                            </button>
                            <button type="button" class="px-4 py-2 text-2xl font-medium rounded-e-xl bg-black text-primary">
                                Valorant
                            </button>
                        </div>
                    </div>
                    <div class="bg-black flex justify-between p-8 rounded-xl">
                        <div class="grid grid-cols-3 gap-2">
                            <img class="h-12" src="/teams/team4.webp">
                            <h1 class="text-6xl text-primary">VS<h1>
                            <img class="h-12" src="/teams/team2.webp">
                        </div>
                        <div class="text-start">
                            <h1 class="text-2xl uppercase">Undead Seekers <span class="text-primary">vs</span> Astralis</h1>
                            <h3 class="text-xl">December 18 2024</h3>
                        </div>
                        <div>
                            <h1 class="text-6xl text-success">13:8</h1>
                        </div>
                        <div>
                            <h3 class="text-2xl">Watch replay on</h3>
                            <div class="flex justify-between text-3xl">
                                <i class="nf nf-fa-twitch"></i>
                                <i class="nf nf-fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                    <div class="bg-black flex justify-between p-8 rounded-xl">
                        <div class="grid grid-cols-3 gap-2">
                            <img class="h-12" src="/teams/team4.webp">
                            <h1 class="text-6xl text-primary">VS<h1>
                            <img class="h-12" src="/teams/team2.webp">
                        </div>
                        <div class="text-start">
                            <h1 class="text-2xl uppercase">Undead Seekers <span class="text-primary">vs</span> Astralis</h1>
                            <h3 class="text-xl">December 18 2024</h3>
                        </div>
                        <div>
                            <h1 class="text-6xl text-defeat">13:8</h1>
                        </div>
                        <div>
                            <h3 class="text-2xl">Watch replay on</h3>
                            <div class="flex justify-between text-3xl">
                                <i class="nf nf-fa-twitch"></i>
                                <i class="nf nf-fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                    <div class="bg-black flex justify-between p-8 rounded-xl">
                        <div class="grid grid-cols-3 gap-2">
                            <img class="h-12" src="/teams/team4.webp">
                            <h1 class="text-6xl text-primary">VS<h1>
                            <img class="h-12" src="/teams/team2.webp">
                        </div>
                        <div class="text-start">
                            <h1 class="text-2xl uppercase">Undead Seekers <span class="text-primary">vs</span> Astralis</h1>
                            <h3 class="text-xl">December 18 2024</h3>
                        </div>
                        <div>
                            <h1 class="text-6xl text-success">13:8</h1>
                        </div>
                        <div>
                            <h3 class="text-2xl">Watch replay on</h3>
                            <div class="flex justify-between text-3xl">
                                <i class="nf nf-fa-twitch"></i>
                                <i class="nf nf-fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="flex justify-between items-center">
                        <div class="text-left">
                            <h3 class="text-primary text-4xl">upcoming</h3>
                            <h3 class="text-6xl uppercase">Matches</h3>
                        </div>
                        <div class="inline-flex rounded-md shadow-sm h-fit" role="group">
                            <button type="button" class="px-4 py-2 text-2xl font-medium rounded-s-xl bg-primary text-white">
                                CS2
                            </button>
                            <button type="button" class="px-4 py-2 text-2xl font-medium  bg-black text-primary">
                                PUBG
                            </button>
                            <button type="button" class="px-4 py-2 text-2xl font-medium  bg-black text-primary">
                                LOL
                            </button>
                            <button type="button" class="px-4 py-2 text-2xl font-medium rounded-e-xl bg-black text-primary">
                                Valorant
                            </button>
                        </div>
                    </div>
                    <div class="bg-black flex justify-between p-8 rounded-xl">
                        <div class="grid grid-cols-3 gap-2">
                            <img class="h-12" src="/teams/team4.webp">
                            <h1 class="text-6xl text-primary">VS<h1>
                            <img class="h-12" src="/teams/team2.webp">
                        </div>
                        <div class="text-start">
                            <h1 class="text-2xl uppercase">Undead Seekers <span class="text-primary">vs</span> Astralis</h1>
                            <h3 class="text-xl">December 18 2024</h3>
                        </div>
                        <div>
                            <h1 class="text-6xl text-primary">coming</h1>
                        </div>
                        <div>
                            <h3 class="text-2xl">Watch replay on</h3>
                            <div class="flex justify-between text-3xl">
                                <i class="nf nf-fa-twitch"></i>
                                <i class="nf nf-fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                    <div class="bg-black flex justify-between p-8 rounded-xl">
                        <div class="grid grid-cols-3 gap-2">
                            <img class="h-12" src="/teams/team4.webp">
                            <h1 class="text-6xl text-primary">VS<h1>
                            <img class="h-12" src="/teams/team2.webp">
                        </div>
                        <div class="text-start">
                            <h1 class="text-2xl uppercase">Undead Seekers <span class="text-primary">vs</span> Astralis</h1>
                            <h3 class="text-xl">December 18 2024</h3>
                        </div>
                        <div>
                            <h1 class="text-6xl text-primary">coming</h1>
                        </div>
                        <div>
                            <h3 class="text-2xl">Watch replay on</h3>
                            <div class="flex justify-between text-3xl">
                                <i class="nf nf-fa-twitch"></i>
                                <i class="nf nf-fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                    <div class="bg-black flex justify-between p-8 rounded-xl">
                        <div class="grid grid-cols-3 gap-2">
                            <img class="h-12" src="/teams/team4.webp">
                            <h1 class="text-6xl text-primary">VS<h1>
                            <img class="h-12" src="/teams/team2.webp">
                        </div>
                        <div class="text-start">
                            <h1 class="text-2xl uppercase">Undead Seekers <span class="text-primary">vs</span> Astralis</h1>
                            <h3 class="text-xl">December 18 2024</h3>
                        </div>
                        <div>
                            <h1 class="text-6xl text-primary">coming</h1>
                        </div>
                        <div>
                            <h3 class="text-2xl">Watch replay on</h3>
                            <div class="flex justify-between text-3xl">
                                <i class="nf nf-fa-twitch"></i>
                                <i class="nf nf-fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>