<div class="w-full h-fit ">
        <div class="absolute w-full top-auto bg-cover bg-[url('/public/background.gif')] h-full brightness-40"></div>

        <div class="relative z-10 h-full pt-32 mx-32 text-white text-center font-primary">
            <h3 class="text-primary text-2xl">Check out our merch</h3>
            <h1 class="text-6xl">Our most popular</h1>
            <div class="grid grid-cols-4 gap-16">
                <div class="bg-black rounded-xl overflow-hidden">
                    <div class="h-96">
                        <img class="object-cover h-full"  src="/products/mousepad.webp">
                    </div>
                    <div class="p-4">
                        <h2 class="text-3xl">Undead seekers mousepad</h2>
                        <h2 class="text-2xl text-primary">$35.99</h2>
                        <button class="text-2xl w-48 border-2 border-white rounded-xl py-2 px-8 hover:bg-white hover:text-primary">Add to cart</button>
                    </div>
                </div>
                <div class="bg-black rounded-xl overflow-hidden">
                    <div class="h-96">
                        <img class="object-cover  h-full"  src="/products/hoodie.webp">
                    </div>
          
                    <div class="p-4">
                        <h2 class="text-3xl">Undead seekers hoodie</h2>
                        <h2 class="text-2xl text-primary">$35.99</h2>
                        <button class="text-2xl w-48 border-2 border-white rounded-xl py-2 px-8 hover:bg-white hover:text-primary">Add to cart</button>
                    </div>
                </div>
                <div class="bg-black rounded-xl overflow-hidden">
                    <div class="h-96">
                        <img class="object-cover h-full"  src="/products/banner.webp">
                    </div>
            
                    <div class="p-4">
                        <h2 class="text-3xl">Undead seekers big-banner</h2>
                        <h2 class="text-2xl text-primary">$35.99</h2>
                        <button class="text-2xl w-48 border-2 border-white rounded-xl py-2 px-8 hover:bg-white hover:text-primary">Add to cart</button>
                    </div>
                </div>
                <div class="bg-black rounded-xl overflow-hidden">
                    <div class="h-96">
                        <img class="object-cover h-full"  src="/products/stickers.webp">
                    </div>
   
                    <div class="p-4">
                        <h2 class="text-3xl">Undead seekers stickers combo</h2>
                        <h2 class="text-2xl text-primary">$35.99</h2>
                        <button class="text-2xl w-48 border-2 border-white rounded-xl py-2 px-8 hover:bg-white hover:text-primary">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>