<div class="bg-black font-primary text-center py-16">
    <h1 class="text-6xl text-white font-primary mb-4">Our top team players</h1>
    <div class="mx-24 md:grid md:grid-cols-5 gap-8 ">
        <div class="h-[500px] group ">
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/eksammoodul2/320/500')]"></div>
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary group-hover:bg-black
                group-hover:to-transparent group-hover:opacity-90 transition-all duration-300"></div>
            <div class="relative z-10 mt-8">
                <div class="px-10 mb-44 opacity-0 group-hover:opacity-100 text-2xl text-white text-start">
                    <h3>Wins: 7</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Losses: 4</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>Kills: 154</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Deaths: 78</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>1v1s: 67%</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 75%"></div>
                    </div>
                </div>
                <h3 class="text-white text-2xl">CS2</h3>
                <h1 class="text-white text-6xl">Gr1m</h1>
            </div>
        </div>
        <div class="h-[500px] group ">
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/eksammoodul2/320/500')]"></div>
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary group-hover:bg-black
                group-hover:to-transparent group-hover:opacity-90 transition-all duration-300"></div>
            <div class="relative z-10 mt-8">
                <div class="px-10 mb-44 opacity-0 group-hover:opacity-100 text-2xl text-white text-start">
                    <h3>Wins: 7</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Losses: 4</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>Kills: 154</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Deaths: 78</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>1v1s: 67%</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 75%"></div>
                    </div>
                </div>
                <h3 class="text-white text-2xl">League Of Legends</h3>
                <h1 class="text-white text-6xl">Ph2ntom</h1>
            </div>
        </div>
        <div class="h-[500px] group ">
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/eksammoodul2/320/500')]"></div>
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary group-hover:bg-black
                group-hover:to-transparent group-hover:opacity-90 transition-all duration-300"></div>
            <div class="relative z-10 mt-8">
                <div class="px-10 mb-44 opacity-0 group-hover:opacity-100 text-2xl text-white text-start">
                    <h3>Wins: 7</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Losses: 4</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>Kills: 154</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Deaths: 78</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>1v1s: 67%</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 75%"></div>
                    </div>
                </div>
                <h3 class="text-white text-2xl">CS2</h3>
                <h1 class="text-white text-6xl">N1ghty_2k</h1>
            </div>
        </div>
        <div class="h-[500px] group ">
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/eksammoodul2/320/500')]"></div>
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary group-hover:bg-black
                group-hover:to-transparent group-hover:opacity-90 transition-all duration-300"></div>
            <div class="relative z-10 mt-8">
                <div class="px-10 mb-44 opacity-0 group-hover:opacity-100 text-2xl text-white text-start">
                    <h3>Wins: 7</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Losses: 4</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>Kills: 154</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Deaths: 78</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>1v1s: 67%</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 75%"></div>
                    </div>
                </div>
                <h3 class="text-white text-2xl">PUBG</h3>
                <h1 class="text-white text-6xl">B3N_WO</h1>
            </div>
        </div>
        <div class="h-[500px] group ">
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/eksammoodul2/320/500')]"></div>
            <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary group-hover:bg-black
                group-hover:to-transparent group-hover:opacity-90 transition-all duration-300"></div>
            <div class="relative z-10 mt-8">
                <div class="px-10 mb-44 opacity-0 group-hover:opacity-100 text-2xl text-white text-start">
                    <h3>Wins: 7</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Losses: 4</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>Kills: 154</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 25%"></div>
                    </div>
                    <h3>Deaths: 78</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 65%"></div>
                    </div>
                    <h3>1v1s: 67%</h3>
                    <div class=" bg-gray-200 rounded-full h-0.5 mb-1 ">
                        <div class="bg-primary h-0.5 rounded-full" style="width: 75%"></div>
                    </div>
                </div>
                <h3 class="text-white text-2xl">Valorant</h3>
                <h1 class="text-white text-6xl">MAM3A</h1>
            </div>
        </div>
    </div>
</div>