<div class="w-full h-screen">
    <div class="absolute w-full top-auto bg-cover bg-[url('/background.gif')] h-full brightness-40"></div>
    <div class="relative z-10 h-full mx-24 text-white md:flex items-center gap-6">
        <img class="rounded-xl" src="/teamimg.webp">
        <div class="font-primary flex flex-col gap-6">
            <h1 class="text-6xl">Who are we?</h1>
            <p class="text-3xl">
                Welcome to Undead Seekers, where we rise from the shadows to dominate the esports arena. As a team forged in
                determination and skill, we bring unmatched strategy and execution to every game. Our passion for gaming drives us to
                set new standards in competitive esports.
            </p>
            <p class="text-3xl">
                Founded by dedicated gamers, Undead Seekers values teamwork, perseverance, and excellence. Our diverse members unite
                with a common goal: to be the best.
            </p>
            <p class="text-3xl">
                Join us on this epic journey. Whether you're a fan, fellow gamer, or potential partner, we're excited to have you with
                us. Together, we are the Undead Seekers—unrelenting, unstoppable, and always hungry for victory.
            </p>
            <button class="text-2xl w-48 border-2 border-white rounded-xl py-2 px-8 hover:bg-white hover:text-primary">Read more</button>
        </div>
    </div>
</div>