@import "tailwindcss";

@font-face {
    font-family: 'Kenyan Coffee Rg';
    src: url('KenyanCoffeeRg-Bold.woff2') format('woff2'),
        url('KenyanCoffeeRg-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kenyan Coffee Rg';
    src: url('KenyanCoffeeRg-Regular.woff2') format('woff2'),
        url('KenyanCoffeeRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Komikazoom';
    src: url('Komikazoom.woff2') format('woff2'),
        url('Komikazoom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
  --color-primary: #9900CC; 
  --color-secondary: #D699EB; 
  --color-success: #00F937; 
  --color-defeat: #D00000; 
  --font-primary: "Kenyan Coffee Rg";
  --font-secondary: "Komikazoom";
}